<script setup>

</script>

<template>
  <div class="width-100 margin-top-50">
    <div class="container">
      <div class="product-text">
        <sit class="text">
          <a>Гитары</a>
        </sit>
      </div>
      <div class="width-25">
        <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
              <a href="#">
                <img class="product-img" src="../assets/pictures/guitars/Fender-Ritchie-Blackmore-Stratocaster.png">
              </a>
            </div>
            <div>
              <p class="product-name">
                <a href="#">Fender Ritchie Blackmore Stratocaster</a>
              </p>
              <p class="product-rating">
                <i class='fa fa-star' style='color: #f3da35'></i>
                <i class='fa fa-star' style='color: #f3da35'></i>
                <i class='fa fa-star' style='color: #f3da35'></i>
                <i class='fa fa-star' style='color: #f3da35'></i>
                <i class="fa fa-star" style="color: rgb(178,178,178);"></i>
                <span>(4.2)</span>
              </p>
              <p class="product-price">
                <span class="product-price">₽216000.00</span>
              </p></div>
          </div>
        </div>
      </div>
      <div class="width-25">
        <div class="product-section">
          <div class="product-border">
            <div class="product-img-center">
              <a href="#">
                <img class="product-img" src="../assets/pictures/guitars/Gibson-Les-Paul-Burgundy.png">
              </a>
            </div>
            <div>
              <p class="product-name">
                <a href="#">Gibson Les Paul Burgundy</a>
              </p>
              <p class="product-rating">
                <i class='fa fa-star' style='color: #f3da35'></i>
                <i class='fa fa-star' style='color: #f3da35'></i>
                <i class='fa fa-star' style='color: #f3da35'></i>
                <i class='fa fa-star' style='color: #f3da35'></i>
                <i class='fa fa-star' style='color: #f3da35'></i>
                <span>(5.0)</span>
              </p>
              <p class="product-price">
                <span class="product-price">₽310825.70</span>
              </p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>