<!---------- Meta HTML Starts --------->
<html>
<head>
    <title>Website Site</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/main.css">
</head>
<body>
<!---------- Meta HTML Ends --------->

<!---------- Top Header HTML Code Starts --------->
<div class="width-1``00 top-header">
    <div class="container">
        <div class="logo">
            <img src="../assets/pictures/logo.png">
        </div>
    </div>
</div>
<!---------- Top Header HTML Code Ends --------->

<!---------- Logo and Search Panel HTML Code Starts --------->
<div class="width-100 search-panel">
    <div class="container">
        <div class="width-50">
            <input class="search-textbox" type="text" Placeholder="Поиск...">
            <button class="search-button">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
        <div class="width-30">
            <ul class="cart-sect">
                <li>
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    <a href="#">Войти</a>
                </li>
                <li>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <a class="head1mr" href="#">Мои заказы</a>
                </li>
                <li>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <a href="#">Корзина</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!---------- Logo and Search Panel HTML Code Ends --------->

<!---------- Main Menu HTML Code Starts --------->
<div class="width-100">
    <div class="container">
        <ul class="main-menu">
            <li>
                <a href="#">Гитары</a>
            </li>
            <li>
                <a href="#">Струны</a>
            </li>
            <li>
                <a href="#">Аксессуары</a>
            </li>
            <li>
                <a href="#">Усилители</a>
            </li>
            <li>
                <a href="#">Эффекты</a>
            </li>
        </ul>
    </div>
</div>
<!---------- Main Menu HTML Code Ends --------->