<html>
<head>
    <title>Website Site</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../main.css">
</head>
<body>
<div class="width-100 top-header">
    <div class="container">
        <a href="start-page.html" class="logo">
            <img src="../pictures/logo.png">
        </a>
    </div>
</div>
<div class="width-100 search-panel">
    <div class="container">
        <div class="width-50">
            <input class="search-textbox" type="text" Placeholder="Поиск...">
            <button class="search-button">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
        <div class="width-30">
            <ul class="cart-sect">
                <li>
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    <a href="sign-in-page.html">Войти</a>
                </li>
                <li>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <a class="head1mr" href="#">Мои заказы</a>
                </li>
                <li>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <a href="#">Корзина</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="width-100">
    <div class="container">
        <ul class="main-menu">
            <li>
                <a href="guitars-page.html">Гитары</a>
            </li>
            <li>
                <a href="#">Струны</a>
            </li>
            <li>
                <a href="#">Аксессуары</a>
            </li>
            <li>
                <a href="#">Усилители</a>
            </li>
            <li>
                <a href="#">Эффекты</a>
            </li>
        </ul>
    </div>
</div>
<table class="table">
	<tr>
		<th class="table-photo">Фото</th> <th>Модель</th><th>Цена</th>
	</tr>
	<tr>
		<td>
      <img class="product-img" src="../pictures/guitars/Fender-Ritchie-Blackmore-Stratocaster.png">
    </td>
    <td class="product-name">
      Fender Ritchie Blackmore Stratocaster
    </td> 
    <td class="product-price">
      ₽216000.00
    </td>
	</tr>
	<tr>
		<th>
      <img class="product-img" src="../pictures/guitars/Gibson-Les-Paul-Burgundy.png">
    </th>
    <th class="product-name">
      Gibson Les Paul Burgundy
    </th> 
    <th class="product-price">
      ₽318000.00
    </th>
	</tr>
  <tr>
		<td>
      <img class="product-img" src="../pictures/guitars/Ibanez ARX320.jpg">
    </td>
    <td class="product-name">
      Ibanez ARX500
    </td> 
    <td class="product-price">
      ₽80000.00
    </td>
	</tr>
</table>